{% extends "layout.html" %}
{% block body %}

    <!-- Page Header -->

    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/post-sample-image.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{post.title}}</h1>
              <h2 class="subheading">{{post.tagLine}}</h2>
              <span class="meta">Posted by {{user.name}} on {{post.date.strftime("%Y-%m-%d")}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{post.content}}


          </div>
        </div>
      </div>
    </article>

   {% endblock %}
